*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    box-sizing: border-box;
}

html {
    font-family: Roboto;
    font-size: 2vh;
}

.container {
    display: grid;
}

.sidebar {
    background-color: #0ea5e9;
    display: grid;
}

.title-elements {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 1vh;
    padding: 2vh;
}

.logo {
    width: 6vh;
    height: 6vh;
}

.title-wrapper {
    height: min-content;
}

.title-wrapper span {
    font-size: 1.4rem;
    color: white;
    font-weight: 600;
}

.sections {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, min-content);

    padding: 3vh;
    gap: 2vh
}

.section {
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 2vh;
}

.icon {
    width: 3vh;
    height: 3vh;
}

.name {
    color: white;
    outline: none;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
}

.name:hover {
    text-decoration: underline;
}

.communities {
    padding-bottom: 5vh;
}

.navbar {
    display: grid;
    gap: 1vw;
    padding: 1vw;
}

.search-elements {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-content: center;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 4vh;
}

.search-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 4vh;
}

.search-area>input {
    background-color: #e2e8f0;
    border-radius: 1vw;
    width: 100%;
    height: 4vh;
}

.user-elements {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.bell-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 4vh;
}

.user-avatar-wrapper {
    display: flex;
    width: 6vh;
    height: 6vh;
    justify-content: center;
    align-items: center;
}

.user-avatar {
    background-color: rgb(134, 193, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    border-radius: 50%;

    /* не забываем о кроссбраузерности */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
}

.user-avatar>img {
    width: 75%;
    height: 75%;
}

.user-name-wrapper {
    height: min-content;
    font-weight: 800;
}

.hi-there-elements {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 1vh;
}

.hi-there-elements>p {
    display: flex;
    flex-direction: column;
    height: min-content;
    font-weight: 800;
}

.hi-there-elements>p>span:nth-child(1) {
    font-size: 1.4vh;
}

.hi-there-elements>p>span:nth-child(2) {
    font-size: 2.4vh;
}

.hi-there-elements .user-avatar-wrapper {
    display: flex;
    width: 9vh;
    height: 9vh;
    justify-content: center;
    align-items: center;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

.menu button {
    background-color: #0ea5e9;
    border-radius: clamp(2vw, 2vh, 3vh);
    width: 10vh;
    height: 4vh;
    font-size: 0.7rem;
    font-weight: 800;
    color: white;
}

.article {
    background-color: #e2e8f0;
}

@media screen and (max-aspect-ratio:1/1.001) {
    .container {
        grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));
        grid-template-areas:
            'nav'
            'side'
            'art';
    }

    .navbar {
        grid-area: nav;
        grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
        grid-template-areas:
            'user-panel'
            'welcome-panel'
            'search-panel'
            'menu';
    }

    .search-elements {
        grid-area: search-panel;
    }

    .user-elements {
        grid-area: user-panel;
    }

    .hi-there-elements {
        grid-area: welcome-panel;
    }

    .menu {
        grid-area: menu;
    }

    .sidebar {
        grid-area: side;
    }

    .sidebar>.article {
        grid-area: art;
    }

}

@media screen and (min-aspect-ratio: 1/1) {
    .container {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 5fr;
    }

    .navbar {
        grid-template-columns: 4fr 2fr;
        grid-template-rows: 1fr 1.5fr;
    }

    .sidebar {
        grid-row: 1/3;
        grid-template-rows: min-content 1fr;
    }

    .navbar {
        grid-column: 2/4;
    }

    .article {
        grid-row: 2/3;
    }
}