*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    box-sizing: border-box;
}

html {
    font-family: Roboto;
    font-size: 2vh;
}

.container {
    display: grid;
}

/* Sidebar elements {  */
.sidebar {
    background-color: #0ea5e9;
    display: grid;
}

.title-elements {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 1vh;
    padding: 2vh;
}

.logo {
    width: 6vh;
    height: 6vh;
}

.title-wrapper {
    height: min-content;
}

.title-wrapper span {
    font-size: 1.4rem;
    color: white;
    font-weight: 600;
}

.sections {
    display: grid;
    padding: 3vh;
    gap: 2vh
}

.section {
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 2vh;
}

.icon {
    width: 3vh;
    height: 3vh;
}

.name {
    color: white;
    outline: none;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
}

.name:hover {
    text-decoration: underline;
}

/* } Sidebar elements */



/* Navbar elements {  */
.navbar {
    display: grid;
    gap: 1vh;
    padding: 3vh;
}

.search-elements {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-content: center;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 4vh;
}

.search-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 4vh;
}

.search-area>input {
    background-color: #e2e8f0;
    border-radius: 1vh;
    width: 90%;
    height: 4vh;
    font-size: 0.7rem;
    padding-left: 1vh;
    outline: none;
}

.search-area>input:focus {
    border: 0.25vh rgb(172, 172, 172) solid;
}

.search-area>input::placeholder {
    font-size: 0.7rem;
}

.user-elements {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.bell-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 4vh;
}

.user-avatar-wrapper {
    display: flex;
    width: 6vh;
    height: 6vh;
    justify-content: center;
    align-items: center;
}

.user-avatar {
    background-color: rgb(134, 193, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    border-radius: 50%;

    /* не забываем о кроссбраузерности */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
}

.user-avatar>img {
    width: 75%;
    height: 75%;
}

.user-name-wrapper {
    height: min-content;
    font-weight: 800;
}

.hi-there-elements {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 1vh;
}

.hi-there-text {
    display: flex;
    flex-direction: column;
    height: min-content;
    font-weight: 800;
}

.hi-there-text>span:nth-child(1) {
    font-size: 1.4vh;
}

.hi-there-text>span:nth-child(2) {
    font-size: 2.4vh;
}

.hi-there-elements .user-avatar-wrapper {
    display: flex;
    width: 9vh;
    height: 9vh;
    justify-content: center;
    align-items: center;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

.menu button {
    background-color: #0ea5e9;
    border-radius: clamp(2vw, 2vh, 3vh);
    width: 10vh;
    height: 4vh;
    font-size: 0.7rem;
    font-weight: 800;
    color: white;
}

.menu button:hover {
    background-color: #21b4f8;
}

/* } Navbar elements */


/* Article elements {  */
.article {
    padding: 2vh;
    background-color: #e2e8f0;
    display: grid;
    gap: 2vh;
}

.projects {
    grid-row: 1/3;
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 1vh;
}

.article-title {
    font-size: 1.1rem;
    font-weight: 600;
}

.cards {
    display: grid;
    gap: 2vh;
}

.card {
    background-color: white;
    display: grid;
    grid-template-columns: 1vh 1fr;
    border-radius: 1vh;
    min-height: 15vw;
    overflow: hidden;
}

.card-decor {

    background-color: orange;
}

.card-body {
    display: grid;
    grid-template-rows: min-content min-content 8vh;
    padding: 2vh;
    align-content: center;
    gap: 1vh;
}

.card-title {
    font-weight: 600;
}

.card-text {
    height: min-content;
    font-size: 0.8rem;
    color: grey;
}

.card-panel {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: end;
    align-content: end;
    gap: 2vh;
}

.card-icon {
    width: 3vh;
    height: 3vh;
}

.announcements {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 1vh;
}

.announcements-list {
    background-color: white;
    display: grid;
    grid-template-rows: repeat(auto-fit, min-content);
    gap: 1vh;
    border-radius: 1vh;
    padding: 2vh;
    overflow: hidden;
}

.announcement {
    display: grid;
    grid-template-rows: min-content min-content;
    align-content: center;
}

.announcement:not(:last-child) {
    border-bottom: 1px solid rgb(230, 227, 227);
}

.announcement-title {
    font-size: 0.8rem;
    font-weight: 600;
}

.announcement-text {
    font-size: 0.6rem;
    color: grey;
}

.trending {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 1vh;
}

.trending-users {
    display: grid;
    grid-template-columns: repeat(auto-fit, min-content);
    background-color: white;
    padding: 2vh;
    border-radius: 1vh;
}

.user {
    display: grid;
    grid-template-columns: min-content min-content;
    column-gap: 1vh;
    align-content: center;
}

.user-info {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    align-content: center;
}

.username {
    font-size: 0.9rem;
}

.label {
    word-wrap: break-word;
    font-size: 0.9rem;
    color: gray;
    width: 20vh;
}

/* } Article elements */



@media screen and (max-aspect-ratio:1/1.0001) {
    .container {
        grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));
    }

    .navbar {
        grid-template-areas:
            'user'
            'hi'
            'search'
            'menu';
    }

    .user-elements {
        grid-area: user;
        justify-content: right;
        padding-bottom: 5vh;
        border-bottom: 1px solid rgb(230, 227, 227);
    }

    .hi-there-elements {
        grid-area: hi;
        display: flex;
        border-bottom: 1px solid rgb(230, 227, 227);
    }

    .sections {
        grid-template-columns: repeat(auto-fit, min(23vw, 21vh));
    }

    .name {
        font-size: clamp(1.2vh, 2.5vw, 3vh);
    }

    .card {
        min-height: 30vw;
    }
}

@media screen and (min-aspect-ratio: 1/1) {
    .container {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 5fr;
    }

    .navbar {
        grid-column: 2/4;
        grid-template-columns: 4fr 2fr;
        grid-template-rows: 1fr 1.5fr;
    }

    .sidebar {
        grid-row: 1/3;
        grid-template-rows: min-content 1fr;
    }

    .sections {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, min-content);
    }

    .communities {
        padding-bottom: 5vh;
    }

    .article {
        grid-row: 2/3;
        grid-template-columns: 3fr 1.2fr;
        grid-template-rows: 2fr 2fr;
    }

    .cards {
        grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
    }
}